---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<ol>
  <li>
    Elynn Chen, Xi Chen, <strong>Wenbo Jing</strong>, Xiao Liu, Linjun Zhang (<em>alphabetical</em>).<br>
    <a href="https://arxiv.org/abs/2502.00423"><strong>Stochastic Linear Bandits with Latent Heterogeneity</strong></a>.<br>
    <em>arXiv preprint</em>, 2025.
  </li>

  <li>
    Elynn Chen, Xi Chen, <strong>Wenbo Jing</strong> (<em>alphabetical</em>).<br>
    <a href="https://arxiv.org/abs/2404.15209"><strong>Data-Driven Knowledge Transfer in Batch Q* Learning</strong></a>.<br>
    <em>arXiv preprint</em>, 2025.<br>
    <ul>
      <li>Under major revision at <em>Journal of the American Statistical Association (Theory and Methods)</em></li>
      <li>Winner of the 2025 NESS Student Paper Award</li>
    </ul>
  </li>

  <li>
    Elynn Chen, Xi Chen, <strong>Wenbo Jing</strong>, Yichen Zhang (<em>alphabetical</em>).<br>
    <a href="https://arxiv.org/abs/2405.11681"><strong>Distributed Tensor Principal Component Analysis with Data Heterogeneity</strong></a>.<br>
    <em>Journal of the American Statistical Association (Theory and Methods, to appear)</em>, 2025.<br>
    <ul>
      <li>Winner of the 2025 IMS Hannan Graduate Student Travel Award</li>
      <li>Winner of the 2024 NESS Student Poster Award</li>
    </ul>
  </li>

  <li>
    Xi Chen, <strong>Wenbo Jing</strong>, Weidong Liu, Yichen Zhang (<em>alphabetical</em>).<br>
    <a href="https://arxiv.org/abs/2210.08393"><strong>Distributed Estimation and Inference for Semi-parametric Binary Response Models</strong></a>.<br>
    <em>The Annals of Statistics</em>, 52(3), 922–947, 2024.
  </li>

  <li>
    <strong>Wenbo Jing</strong>, Jeffrey Simonoff.<br>
    <a href="https://www.tandfonline.com/doi/full/10.1080/00949655.2023.2273966"><strong>A regression tree method for longitudinal and clustered data with multivariate responses</strong></a>.<br>
    <em>Journal of Statistical Computation and Simulation</em>, 94(4), 820–842, 2024.
  </li>
</ol>

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!--{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



