---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<p><strong>06/2025</strong><br>
ICSA China Conference, Zhuhai</p>
  
<p><strong>05/2025</strong><br>
New England Statistics Symposium, New Haven</p>

<p><strong>12/2024</strong><br>
IMS International Conference on Statistics and Data Science, Nice</p>

<p><strong>10/2024</strong><br>
INFORMS Annual Meeting, Seattle</p>

<p><strong>08/2024</strong><br>
Joint Statistical Meetings, Portland</p>

<p><strong>07/2024</strong><br>
Chinese Scholars Association for Management Science and Engineering, Xiamen</p>

<p><strong>05/2024</strong><br>
New England Statistics Symposium, University of Connecticut, Storrs<br>
<em>Winner of the NESS Student Poster Award</em></p>

<p><strong>10/2023</strong><br>
Stern School of Business, New York University, New York</p>

<p><strong>08/2023</strong><br>
Joint Statistical Meetings, Toronto</p>

<p><strong>04/2022</strong><br>
Stern School of Business, New York University, New York</p>
